{% extends 'base.html.twig' %}

{% block title %}Edit Region{% endblock %}

{% block body %}
    <main class="app-content">
        <div class="app-title">

            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-building fa-lg"></i></li>
                <li class="breadcrumb-item"><a href="#">Ville</a></li>
            </ul>
        </div>
        <div class="container">
            <div class="table-wrapper" style="width:800px;height: 450px; margin-top:-20px;  margin-left:100px;">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Modifier <b> Mot de passe </b></h2>
                        </div>

                    </div>
                </div>

{{ form(form) }}

            </div>
        </div>
    </main>
{% endblock %}
