{% extends 'base.html.twig' %}

{% block title %}Edit Region{% endblock %}

{% block body %}
<main class="app-content">
    <div class="app-title">

        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-building fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="#">Ville</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="table-wrapper" style="width:800px;height: 450px; margin-top:-20px;  margin-left:100px;">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Modifier <b>Ville</b></h2>
                    </div>

                </div>
            </div>
            <h1>{{ ville.libele }}  <a href="{{ path('ville_index') }}"><i class="material-icons">&#xE5C4;</i></a></h1>
            {{ include('ville/_form.html.twig', {'button_label': 'Sauvergarder les modifications'}) }}

        </div>
    </div>
</main>
            {% endblock %}
