{% extends 'baseres.html.twig' %}

{% block title %}Modifier {% endblock %}

{% block body %}


    <center>
        <h1></h1>
        {{ include('fournisseur/_form.html.twig', {'button_label': 'Sauvergarder la modification'}) }}

    </center>
{% endblock %}
