{% extends 'baseres.html.twig' %}

{% block title %}Créer catégorie{% endblock %}

{% block body %}
    <a href="{{ path('categorie_index')}}" class="btn"> <i class="material-icons">&#xE317;</i></a>

    <br/><br/>




    <center>




        {{ include('categorie/_form.html.twig') }}


    </center>
{% endblock %}
