{{ form_start(form) }}
      {{ form_row(form.libele,{'attr':{'class':'form-control'}}) }}
<br>
<center>
<button class="btn btn-success" style="width: 50%;">{{ button_label|default('Ajouter') }}</button></center>
{{ form_end(form) }}
