{{ form_start(form) }}
      {{ form_row(form.libele,{'attr':{'class':'form-control'}}) }}

<button class="btn btn-success" style="width: 50%;">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
