{% extends 'baseres.html.twig' %}

{% block title %}Modifier Article{% endblock %}

{% block body %}

   <center> <h1></h1>
   
    {{ include('article/_form.html.twig', {'button_label': 'Sauvergarder les modifications'}) }}
<br> <br>
  
    </center>
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css"/>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js">
        $('select').select2();
    </script>
{% endblock %}

