{% extends 'base.html.twig' %}

{% block title %}Modifier Plat{% endblock %}

{% block body %}
<a href="{{ path('plat_index')}}" class="btn"> <i class="material-icons">&#xE317;</i></a> 
   
   <center> <h1>Modifier les données du Plat n°{{plat.id}}</h1>
   
    {{ include('article/_form.html.twig', {'button_label': 'Sauvergarder les modifications'}) }}
<br> <br>
  
    </center>
{% endblock %}

